# Default ignored files
/shelf/
/.idea
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/node_modules/
/config/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
